*
    margin: 0;
    padding: 0;
html
    height: 100%;
    body
        height: 100%;
        box-sizing: border-box;
        border: 5px solid #eee;
        .wrapper
            box-sizing: border-box;
            position: absolute;
            width: 10rem;
            top: 50%;
            left: 50%;
            border-bottom: .1rem solid #eee;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            font-family: fantasy;
            color: #eee;
            span
                display: inline-block;
                height: 1rem;
                img
                    height: 100%;
